/*-- scss:defaults --*/

$theme-darkolive: #6b7606;
$theme-darkteal: #066b76;

$presentation-heading-color: $theme-darkteal;
$link-color: lighten($theme-darkteal, 5%);

// Add custom callout

/*-- scss:rules --*/
